


@font-face {
	font-family: SamCafe;
	font-style: normal;
	font-weight: 700;
	src: url('fonts/woff/SamCafe-Regular.woff') format('woff'),   
	url('fonts/woff2/SamCafe-Regular.woff2') format('woff2');	 
}

@font-face {
	font-family: SamCafe;
	font-style: Bold;
	font-weight: 400;
	src: url('fonts/woff/SamCafe-Bold.woff') format('woff'),   
	url('fonts/woff2/SamCafe-Bold.woff2') format('woff2');	
}

